---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

export interface Props {
	title: string;
	description?: string;
}

const { 
	title, 
	description = "Korpo's - ¡Únete a nuestra comunidad fitness!" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700;900&family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	</head>
	<body class="bg-black text-white">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
